.chip{
    padding: 10px;
    box-shadow: var(--shadow-2);
    border-radius: 50px;
    font-size: 15px;
    min-width: 110px;
    text-align: center;
    
}
.chip-primary, .chip-primary-outline:hover{
    color: var(--white);
    background: var(--primary);
    border: 2px solid var(--white);
    
}
.chip-primary-outline, .chip-primary:hover{
    color: var(--primary);
    background: var(--white);
    border: 2px solid var(--primary);
    cursor: pointer;
    font-family: var(--font-family-bold);
}
.chip-info{
    color: var(--white);
    background: var(--muted-blue);
    border: 2px solid var(--white);
    
}

.chip-success{
    color: var(--white);
    background: var(--success);
    border: 2px solid var(--white);
    
}